<div class="test">
  <h1>Đây là Componemt Home</h1>
  <p>Thêm hàng thứ 2 trong Home</p>
  <br />
  <h2>Trái cây</h2>
  <table class="table">
    <tr>
      <th>Stt</th>
      <th>Tên</th>
      <th>Giá</th>
      <th>Hạ giá</th>
    </tr>
    <tr *ngFor="let trai of traiCay2; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ trai.ten }}</td>
      <td class="right">
        <span [ngClass]="{'so-am': trai.gia <0}">{{ trai.gia }}</span>
      </td>
      <td >
        <span *ngIf="trai.haGia" >Đang hạ giá!</span>
      </td>
    </tr>
  </table>
</div>
